/* shared styles */
* {
    margin: 0 auto;
}

body {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    padding: 20px 24px;
    background: #ffffff;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    border-radius: 5px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.section-description {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

/* header styles  */
header {
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    text-align: right;
    width: 500px;
    float: right;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-title {
    font-size: 60px;
    font-weight: 800;
    color: white;
    line-height: 76px;
}

.header-description {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

/* main styles */
main {
    width: 1140px;
}

main section {
    margin-top: 130px;
}

/* about styles */
.about {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
}

.about-column {
    margin: 0;
}

.about-content {
    width: 416px;
}

.about-column img {
    width: 560px;
    height: 720px;
}

.about-column ul {}

.about-column li {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* skill styles */
#skill-section-title {
    text-align: center;
    margin-bottom: 50px;
}

.skills {}

.skill-item {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.skill-item-content {
    margin: 0;
    text-align: center;
}

.skill-item-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #151414;
    margin: 24px 0px 16px 0px;
}

.skill-item-description {
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    color: #737272;
}

/* cta styles */
.cta-section {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.gradient-cta {
    background-image: url('../images/gradient1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.cta {
    padding: 60px;
}

#cta-section-title {
    color: white;
}

/* footer styles */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    background-color: #151414;
    padding-bottom: 130px;
    padding-top: 130px;
    padding-right: 200px;
    padding-left: 200px;
    gap: 80px;
}

.footer-column {
    width: 50%
}

.footer-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-description {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 24px;
    /* width: 400px; */
}

.footer-info {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 16px;
}

.social-links {
    margin-top: 16px;
}

.social-links a {
    margin-right: 20px;
}

.footer-subscribe-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 32px;
}

.footer-email {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid white;
    background: none;
    font-size: 18px;
    color: #F3F3F3;
    margin-bottom: 16px;
    width: 100%;
}

.btn-secondary {
    padding: 20px 36px;
    font-size: 20px;
    background-color: #005FAC;
    border-radius: 8px;
    border: 0;
    color: white;
    line-height: 24px;
}